{% block page_content %}


<h3>All Progresses</h3>
    <body>
<table border="1">
{% if lenp !=0 %}
<tr>
    <th>Task No.</th>
    <th>Userid</th>
    <th>Equipid</th>
    <th>Rdate</th>
    <th>Estimated Price</th>
    <th>Estimated End Time</th>
    <th>Date of Reservation</th>
    <th>Confirmed</th>
    <th>Paid</th>
    <th>Complete</th>
    <th>filename</th>
          </tr>
{% endif %}
    {% for progress in progress_list %}
        <tr></tr>
        {% for specific in progress %}
        <td>{{ specific }}</td>
    {% endfor %}
    {% endfor %}

{% for file in workfile_lst %}
    <td><a href="{{ file }}"> click to download</a></td>
	{% endfor %}
</table>
</body>

{% endblock %}