{% block page_content %}
<h3>All Equips</h3>
    <body>
<table border="1" width="100%">
{% if lene !=0 %}
    <tr>
    <th width="50px">No</th>
    <th width="80px">Equipid</th>
    <th>Equipname</th>
    <th>Spec</th>
    <th width="90px">Count</th>
    <th width="40%">Rdate</th>
        <th>Filename</th>
    <th>Equipimage</th>
</tr>
{% endif %}
    {% for id,equip in equip_list %}
        <tr></tr>
        <td>{{ id }}</td>
        {% for specific in equip %}
        <td>{{ specific }}</td>
    {% endfor %}
        <td><img src="{{ url_for('manage.equipimage',filename=equip[5])  }}" width=200, height=200></td>


{% endfor %}


</table>
</body>

{% endblock %}