{% block page_content %}
<h3>All Equips</h3>
    <body>
<table border="1" width="100%">
{% if lene !=0 %}
    <tr>
    <th width="50px">No</th>
    <th width="80px">Equipid</th>
    <th>equipname</th>
    <th>spec</th>
    <th width="90px">using count</th>
    <th width="40%">rdate</th>
    <th>equipimage</th>
</tr>
{% endif %}
    {% for id,equip in equip_list %}
        <tr></tr>
        <td>{{ id }}</td>
        {% for specific in equip %}
        <td>{{ specific }}</td>
    {% endfor %}
{% endfor %}


</table>
</body>

{% endblock %}