{% extends "base.html" %}

{% block title %}Reserved - Manage Resource{% endblock %}

{% block page_content %}

<body>
{% include "manage/All_progress.html" %}
{% include "manage/All_equips.html" %}
<div>
    <h3>Manage equips</h3>
    <h4>
    <input class="btn btn-default" id="Register" type="button" onclick="location.href='{{url_for('manage.register_equip')}}';" value="Register" >
        <input class="btn btn-default" id="Modify" type="button" onclick="location.href='{{url_for('manage.modify_equip')}}';" value="Modify" >
        <input class="btn btn-default" id="Delete" type="button" onclick="location.href='{{url_for('manage.delete_equip')}}';" value="Delete" >

</div>


    </body>
{% endblock %}
