<p>Dear Admin,</p>

<p>{{ user.username }}, has as reserved the {{ equip.equipname}}</p>
<p>To confirm the reservation of the user please<a href="{{ url_for('reserve.workfile', token=token, _external=True) }}">click here</a>.</p>
<p>Alternatively, you can paste the following link in your browser's address bar:</p>
<p>{{ url_for('reserve.workfile', token=token, _external=True) }}</p>
<p/>
<p>Sincerely,</p>
<p>The Reserved Team</p>
<p/>
<p><small>Note: replies to this email address are not monitored.</small></p>