{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Reserved - Mypage{% endblock %}

{% block page_content %}
<div class="page-header">
    <h3>Mypage</h3>
</div>
    <div>
    <table align="left" border="1";>
    <tr  align="center" cellpadding=2 cellspacing=2>
        <th>No</th>
        {% for items in template %}
            {% if items|string =="Memo" %}
            <th width="20%">{{ items }}</th>
            {% else %}
        <th>{{ items }}</th>
            {% endif %}
    {% endfor %}
    </tr>
   {% for id,items in lst %}
       <tr>
       <td>{{ id }}</td>
       {% for item in items %}

       <td>{{ item }}</td>
           {% endfor %}
       </tr>
	{% endfor %}
</table>
    </div>
{% endblock %}

