{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Reserved - Mypage{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Mypage</h1>
</div>
    <table border="1";>
    <tr  align="center" cellpadding=2 cellspacing=2>
        <th>No</th>
        {% for items in template %}
        <th>{{ items }}</th>
    {% endfor %}
    </tr>
<tr  align="center">
    <td>1</td>
   {% for items in lst %}
        <td>{{ items }}</td>
	{% endfor %}
{% endblock %}

</tr>
</table>