{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Reserved - Reserve{% endblock %}

{% block page_content %}
<div class="page-header">

    <h1>Reserve</h1>
<table>

{%  for i in lst %}
    <tr>
    <td><img src="{{i}}" width="200" height ="200"></td>
    </tr>
    {% endfor %}

<tr>
{% for id,equipname in form.equip.choices %}
<td>{{ equipname }} </td>
    {% endfor %}
</tr>
</table>
{{ wtf.quick_form(form) }}

{{ form.submit }}

    <!--#{{ form.equip.label }}: {{ form.equip(onchange="this.form.submit()") }}</form>-->
</div>







{% endblock %}