{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Reserved - Reserve{% endblock %}

{% block page_content %}
    <div>
<div class="row-md-3">

    <h1>Reserve</h1>
<table>
    <tr>
{%  for e,i in lst %}
    {% if e%4==0 %}
    <tr>
    <td><img src="{{i}}" width="200" height ="200"></td>
        <td>{{ form.equip.choices[e][1] }} </td>
        {% else %}
        <td><img src="{{i}}" width="200" height ="200"></td>

        <td>{{ form.equip.choices[e][1] }} </td>

    {% endif %}
    {% endfor %}
 </tr>
<tr>



</tr>
</table>
{{ wtf.quick_form(form) }}

{{ form.submit }}

    <!--#{{ form.equip.label }}: {{ form.equip(onchange="this.form.submit()") }}</form>-->
</div>
    </div>







{% endblock %}