{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Reserved - Equip reserve{% endblock %}

{% block page_content %}
<div class="" col-md-4 xmlns:onchange="http://www.w3.org/1999/xhtml"/>

    <h1>Reserve</h1>
<input class="btn btn-default" id="Back" name="Back" type="button" onclick="{{ url_for('reserve.select_equip') }}" value="Back" style="color:red">
    </div>
    <div> {{ wtf.quick_form(form)}}</div>
      <br>
<div>    </div>


<div>
	{% include "reserve/rdatetable.html" %}
</div>
{% endblock %}