{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Reserved - Equip reserve{% endblock %}

{% block page_content %}
<div class="" col-md-4 xmlns:onchange="http://www.w3.org/1999/xhtml"/>

    <h1>Reserve</h1>
</div>
    <div><a href="{{ url_for('reserve.select_equip') }}">equip</a></div>
    <div> {{ wtf.quick_form(form)}}</div>
      <br>
<div>    </div>


<div>
	{% for file in file_lst %}
		<file src="{{ file }}">
	{% endfor %}
</div>
{% endblock %}